/* Navbar superior */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b; /* azul oscuro elegante */
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Sidebar lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 240px;
  height: 100%;
  background: #334155; /* gris azulado */
  color: #fff;
  transition: 0.3s ease;
  padding: 20px;
  z-index: 1200;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #38bdf8; /* celeste */
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
  float: right;
  cursor: pointer;
}
